<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/imglogo"
        android:label="SST"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SstDoble"
        tools:targetApi="31">

        <activity
            android:name=".controller.detalles_gestion"
            android:exported="false" />
        <activity
            android:name=".controller.Detalles_chequeo"
            android:exported="false" />
        <activity
            android:name=".controller.Olvidaste_contrasenia"
            android:exported="false" />
        <activity
            android:name=".controller.Registrarme"
            android:exported="false" />
        <activity
            android:name=".controller.ListaReportes"
            android:exported="false" />
        <activity
            android:name=".controller.CreaAsesoramiento"
            android:exported="false" />
        <activity
            android:name=".controller.ListaAsesoramiento"
            android:exported="false" />
        <activity
            android:name=".controller.MainActivity"
            android:exported="false" />
        <activity
            android:name=".controller.ListaActividades"
            android:exported="false" />
        <activity
            android:name=".controller.ListaChequeo"
            android:exported="false" />
        <activity
            android:name=".controller.FormReportes"
            android:exported="false" />
        <activity
            android:name=".controller.Blog"
            android:exported="false" />
        <activity
            android:name=".controller.CrearBlog"
            android:exported="false" />
        <activity
            android:name=".controller.FormChequeo"
            android:exported="false" />
        <activity
            android:name=".controller.FormGestion"
            android:exported="false" />
        <activity
            android:name=".controller.Menu"
            android:exported="false" />
        <activity
            android:name=".controller.CreaActividades"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>