<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/imglogo"
        android:label="SST"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SstDoble"
        tools:targetApi="31">
        <activity
            android:name=".ListaReporteItem"
            android:exported="false" />
        <activity
            android:name=".Registrarme"
            android:exported="false" />
        <activity
            android:name=".CreaReporte"
            android:exported="false" />
        <activity
            android:name=".ListaReportes"
            android:exported="false" />
        <activity
            android:name=".CreaAsesoramiento"
            android:exported="false" />
        <activity
            android:name=".ListaAsesoramiento"
            android:exported="false" />
        <activity
            android:name=".CreaActividades"
            android:exported="false" />
        <activity
            android:name=".ListaActividades"
            android:exported="false" />
        <activity
            android:name=".FormChequeo"
            android:exported="false" />
        <activity
            android:name=".ListaChequeo"
            android:exported="false" />
        <activity
            android:name=".Blog"
            android:exported="false" />
        <activity
            android:name=".CrearBlog"
            android:exported="false" />
        <activity
            android:name=".FormGestion"
            android:exported="false" />
        <activity
            android:name=".ListaGestion"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    </application>

</manifest>